{% for bucket in r2_buckets %}
resource "cloudflare_r2_bucket" "{{ bucket.name | replace('-', '_') }}" {
  account_id = "{{ cloudflare_account_id }}"
  name       = "{{ bucket.name }}"
  location   = "{{ bucket.location }}"
}
{% endfor %}
