{% for app in zero_trust_applications %}
resource "cloudflare_access_application" "{{ app.name | replace(' ', '_') | lower }}" {
  zone_id     = "{{ cloudflare_zone_id }}"
  name        = "{{ app.name }}"
  domain      = "{{ app.domain }}"
  type        = "{{ app.app_type }}"
}

{% for policy in app.access_policies %}
resource "cloudflare_access_policy" "{{ policy.name | replace(' ', '_') | lower }}_{{ loop.index }}" {
  application_id = cloudflare_access_application.{{ app.name | replace(' ', '_') | lower }}.id
  name           = "{{ policy.name }}"
  precedence     = {{ policy.precedence }}
  decision       = "{{ policy.decision }}"

  include {
    email = {{ policy.include_emails }}
  }
}
{% endfor %}

{% endfor %}
