resource "cloudflare_worker_script" "my_website_worker" {
  name       = "my-website-worker"
  account_id = var.cloudflare_account_id
  content    = file(var.worker_script_paths["my-website-worker"])
}

resource "cloudflare_worker_script" "serve_r2_assets" {
  name       = "serve-r2-assets"
  account_id = var.cloudflare_account_id
  content    = file(var.worker_script_paths["serve-r2-assets"])
}
